name: AWS Cred Test

on:
  workflow_dispatch:
    inputs:
      INTERVIEW_TYPE:
        type: choice
        description: Which machine test to give ?
        required: true
        options:
        - Ansible
        - CloudFormation+Ansible
        - Terraform+Ansible

      BUILD_USER_EMAIL:
        description: CC Email ID
        required: true  
  
jobs:
  aws-cred-test:
    runs-on: ubuntu-latest 
    permissions:
      id-token: write
      contents: read
    steps:
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            role-to-assume: arn:aws:iam::895307684105:role/github-actions
            aws-region: ap-south-1
            
        - name: Check connection
          run: |
            aws s3 ls
