name: AWS Cred Test

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: Select the environment
jobs:
  aws-cred-test:
    runs-on: ubuntu-latest 
    permissions:
      id-token: write
      contents: read
    steps:
        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v1
          with:
            role-to-assume: arn:aws:iam::895307684105:role/github-actions
            aws-region: ap-south-1

        - name: Checkout Repository
          uses: actions/checkout@v2.3.5

        - name: Check connection
          run: |
            aws s3 ls

        - name: check pwd
          run: |
            pwd
            ls -ltra

        - name: Provide Execute Permission
          run: |
            chmod u+x ./scripts/aws-iam.sh

        - name: Create IAM User
          run: ./scripts/aws-iam.sh
          shell: bash
